@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






@media screen and (max-width: 2700px) {
    body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: url("1.jpg");
         background-size: cover;
         background-attachment: fixed; /* Фон страницы фиксируется */
/*         background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    }

    /* #main {
         width: 100%;
         padding: 20px;
         text-align: center;
    } */

    h1 {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #8821c4;
        height: 180px;
        width: 880px;
        text-align: center;
        background-color: #590eca;
    }

    img {
         /* position: relative;
         left: 1%; */
         width: 1200px;
         margin: 50px auto;
         display: block;
         /* margin: 0 auto; */
    }

    .p {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #8821c48e;
        height: 50px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        background-color: rgba(89,14,202,0.3);
        color: hsl(273, 100%, 51%);
        display: block;
    }

    /* button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 180px;
         width: 880px;
         font-size: 60px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
    }

    button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
    }

    .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 200px;
         width: 1200px;
         font-size: 30px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
    }

    .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
    } */

}